name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - name: Install ESP-IDF prerequisite
      run: |
        sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
        sudo apt-get update -y -qq
        sudo apt-get install git wget flex bison gperf python3 python3-pip python3-setuptools cmake ninja-build ccache libffi-dev libssl-dev dfu-util
    - name: Set python3 default
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10 && alias pip=pip3
    - name: Clone BlueRetroRoot
      run: git clone https://github.com/darthcloud/BlueRetroRoot.git .
    - name: Fetch submodules
      run: git submodule update --init --recursive
    - name: Checkout main repo
      working-directory: ./BlueRetro
      run: |
        git fetch --force ${{ github.event.repository.git_url }} "+refs/heads/*:refs/remotes/origin/*"
        git fetch --force ${{ github.event.repository.git_url }} "+refs/pull/*:refs/remotes/origin/pr/*"
        git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}
        git submodule update --init --recursive
    - name: Install ESP-IDF
      working-directory: ./esp-idf
      run: sh ./install.sh
      env:
        IDF_TOOLS_PATH : "/home/runner/work/BlueRetro/BlueRetro/BlueRetroRoot/"
    - name: Build with ESP-IDF
      working-directory: ./BlueRetro
      run: |
        . ../esp-idf/export.sh
        for file in configs/*; do cp configs/$(basename $file) sdkconfig; idf.py build; mv build/BlueRetro.bin build/BlueRetro_$(basename $file).bin; done
      env:
        IDF_TOOLS_PATH : "/home/runner/work/BlueRetro/BlueRetro/BlueRetroRoot/"
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: firmware
        path: |
          BlueRetro/build/partition_table/partition-table.bin
          BlueRetro/build/bootloader/bootloader.bin
          BlueRetro/build/BlueRetro*.bin
        if-no-files-found: error
