name: quick
on:
  workflow_dispatch:
    inputs:
      hw_version:
        description: 'Hardware version'
        required: true
        default: 'hw1'
      br_config:
        description: 'BlueRetro config'
        required: true
        default: 'universal'

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Install ESP-IDF prerequisite
      run: |
        sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
        sudo apt-get update -y -qq
        sudo apt-get install git wget flex bison gperf python3 python3-pip python3-setuptools cmake ninja-build ccache libffi-dev libssl-dev dfu-util
    - name: Set python3 default
      run: sudo update-alternatives --install /usr/bin/python python /usr/bin/python3 10 && alias pip=pip3
    - name: Clone BlueRetroRoot
      run: git clone https://github.com/darthcloud/BlueRetroRoot.git .
    - name: Fetch submodules
      run: git submodule update --init --recursive
    - name: Checkout main repo
      working-directory: ./BlueRetro
      run: |
        git fetch --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git "+refs/heads/*:refs/remotes/origin/*"
        git fetch --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git "+refs/pull/*:refs/remotes/origin/pr/*"
        git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}
        git submodule update --init --recursive
    - name: Install ESP-IDF
      working-directory: ./esp-idf
      run: sh ./install.sh
      env:
        IDF_TOOLS_PATH : "/home/runner/work/BlueRetro/BlueRetro/BlueRetroRoot/"
    - name: Build with ESP-IDF
      working-directory: ./BlueRetro
      run: |
        . ../esp-idf/export.sh
        echo "br_version=$(git describe --always --tags --dirty)" >> $GITHUB_ENV
        echo "$(git describe --always --tags --dirty) ${{ github.event.inputs.hw_version }} ${{ github.event.inputs.br_config }}" | cut -c -31 > version.txt
        cat version.txt
        cp configs/${{ github.event.inputs.hw_version }}/${{ github.event.inputs.br_config }} sdkconfig
        BR_HW=_${{ github.event.inputs.hw_version }} BR_SYS=_${{ github.event.inputs.br_config }} idf.py build
      env:
        IDF_TOOLS_PATH : "/home/runner/work/BlueRetro/BlueRetro/BlueRetroRoot/"
    - name: Copy OTA initial binary
      working-directory: ./BlueRetro/build
      run: |
        mkdir ota
        mv ota_data_initial.bin ota/
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ env.br_version }}_${{ github.event.inputs.hw_version }}_${{ github.event.inputs.br_config }}
        path: |
          BlueRetro/build/partition_table/partition-table.bin
          BlueRetro/build/bootloader/bootloader.bin
          BlueRetro/build/ota/ota_data_initial.bin
          BlueRetro/build/BlueRetro*.bin
        if-no-files-found: error
